<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <textarea v-model="jsonStr" cols="30" rows="10"></textarea>
      <textarea v-model="jsonStrOfMock" cols="30" rows="10"></textarea>
    </div>

    <script src="./lib/vue.js"></script>
    <script src="./lib/mock.js"></script>
    <script>
      ;((window) => {
        window.vm = new Vue({
          data: {
            jsonStr: '',
            jsonStrOfMock: ''
          }
        }).$mount('#app')
      })(window)
    </script>
  </body>
</html>
